.animated-grid {
    height: 85vh;
    display: grid;
    gap: 1rem;

    /* explicity grid */
    grid-template-areas: 
        'a b c d'
        'l x x e'
        'k x x f'
        'j i h g';
    
    grid-template-rows: repeat(4, 25%);
    grid-template-columns: 240px auto auto 240px;

    --stagger-delay: 100ms;

}

@keyframes cardEntrance {
    from {
        opacity: 0;
        transform: scale(0.3);
        filter: hue-rotate(180deg);
    } to {
        opacity: 1;
        transform: scale(1);
        filter: hue-rotate(0deg);
    }
}

.card {
    background-color: rgb(135, 206, 235);
    animation: cardEntrance 700ms ease-out;
    /* set the element to the first keyframe value (invisible) 
        otherwise the card would be just invisible before the animation start*/
    animation-fill-mode: backwards;

}

.card:hover {
    filter: hue-rotate(180deg);
}

.card:nth-child(1) {
    /* define for each element in the grid */
    grid-area: a; 
    animation-delay: calc(1 * var(--stagger-delay));
}
.card:nth-child(2) {
    /* define for each element in the grid */
    grid-area: b; 
    animation-delay: calc(2 * var(--stagger-delay));
}
.card:nth-child(3) {
    /* define for each element in the grid */
    grid-area: c; 
    animation-delay: calc(3 * var(--stagger-delay));
}
.card:nth-child(4) {
    /* define for each element in the grid */
    grid-area: d; 
    animation-delay: calc(4 * var(--stagger-delay));
}
.card:nth-child(5) {
    /* define for each element in the grid */
    grid-area: e; 
    animation-delay: calc(5 * var(--stagger-delay));
}
.card:nth-child(6) {
    /* define for each element in the grid */
    grid-area: f; 
    animation-delay: calc(6 * var(--stagger-delay));
}
.card:nth-child(7) {
    /* define for each element in the grid */
    grid-area: g; 
    animation-delay: calc(7 * var(--stagger-delay));
}
.card:nth-child(8) {
    /* define for each element in the grid */
    grid-area: h; 
    animation-delay: calc(8 * var(--stagger-delay));
}
.card:nth-child(9) {
    /* define for each element in the grid */
    grid-area: i; 
    animation-delay: calc(9 * var(--stagger-delay));
}
.card:nth-child(10) {
    /* define for each element in the grid */
    grid-area: j; 
    animation-delay: calc(10 * var(--stagger-delay));
}
.card:nth-child(11) {
    /* define for each element in the grid */
    grid-area: k; 
    animation-delay: calc(11 * var(--stagger-delay));
}
.card:nth-child(12) {
    /* define for each element in the grid */
    grid-area: l; 
    animation-delay: calc(12 * var(--stagger-delay));
}
.card:last-child {
    /* define for each element in the grid */
    grid-area: x; 
    animation-delay: calc(13 * var(--stagger-delay));
}